:root {
    --dark-blue-100: #609ED4;
    --dark-blue-200: #356EA9;
    --dark-blue-300: #0A3871;
    --dark-blue-400: #072B61;
    --dark-blue-500: #052051;
    --ligth-blue-100: #F3F5FC;
    --ligth-blue-200: #EFF1FA;
    --ligth-blue-300: #E9ECF8;
    --ligth-blue-400: #AAB2D5;
    --ligth-blue-500: #757FB2;
    --gray-100: #CED4DA;
    --gray-200: #ADB5BD;
    --gray-300: #868E96;
    --gray-400: #495057;
    --gray-500: #343A40;
}
.cuerpo{
    display: flex;
    width: 90%;
    height: calc(100vh - 75px);
    margin: 0 auto;
    border: 1px solid red;
}
#divIngresarTexto{
    /* position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 65%;
    border: 1px solid green;
}
.logoAlura{
    width: 41px;
}
#divMostrarTexto{
    /* position: relative; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 35%;
    border: 1px solid black;
}
.divAreaMensaje{
    width: 80%;
    height: 55vh;
    margin: 0 auto;
}
.AreaMensaje{
    width: 100%;
    height: 100%;
    background-color: #EFF1FA;
    border: none;
    resize: none;
    font-size: 1.8rem;
    font-weight: bold;
    color: #356EA9;
    text-align: justify;    
}
.AreaMensaje:focus{
    outline: 0 none;
}
.AreaMensaje::placeholder{
    color: #356EA9;
    font-size: 1.5rem;
}
.divMensajeLetras{
    padding: 1rem 0rem;
    width: 80%;
    margin: 0 auto;
}
.divBotones{
    display: flex;
    /* position: absolute; */
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
    bottom: 1.5rem;
    left: 10%;
}
.divLabelTexto{
    padding-top: 5rem;
}
.btn{
    border-radius: 25px;
    width: 46%;
    padding: 1rem 0rem;
    /* border: 1px solid black; */
    border: none;
}
#btnEncriptar{
    background-color: #072B61;
    color: white;
    border-color: #0A3871;
    font-weight: bold;
}
#btnDesencriptar{
    border: 1px solid #0A3871;
    background-color: transparent;
    color: #0A3871;
    font-weight: bold;
}
#btnCopiar{
    border: 1px solid #0A3871;
    background-color: transparent;
    color: #0A3871;
    font-weight: bold;
}
.divLabelTexto{
    display: flex;
    flex-direction: column;
}
.labelTexto{
    text-align: center;
}
.labelTexto:nth-child(2){
    font-size: 1.7rem;
    color: var(--gray-500);
    font-weight: bold;
    padding-top: 2rem;
    padding-bottom: 1rem;
}
.labelTexto:nth-child(3){
    font-size: 1rem;
    color: var(--gray-200);
    font-weight: bold;
}
.btnBlanco{
    /* position: absolute; */
    width: 80%;
    bottom: 1.5rem;
}
#btnCopiar{
    width: 100%;
    border: 1px solid #0A3871;
    background-color: transparent;
    color: #0A3871;
    font-weight: bold;
}

